
/* Core class included in all surveys used to fill default for new styles */

 /* In Line Errors */
/* In Line Errors Question */
.errInline
{
   display:block;
   color:#801D20;
   padding:5px;
   display:none;
   background-color:#FFE8F1;
   /*border:1px solid #801D20;*/
/*-webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;*/
}
/* In Line Errors form elements, overrides errInline */
.errInlineForm
{
  
}
/* In Line Errors form elements style actual input box
     */
.errInlineFormElements
{
  border: 2px solid #801D20;
}
 /* file upload bar */
.fubar {
    height: 18px;
    background: #F59731;
    color:white;
    float:left;
    border:solid 2px #DADADA;
   padding:1px;
}

