@import "https://fonts.googleapis.com/css?family=Roboto:400,400italic,700";
/* v2.1.1 Thu, 08 Dec 2016 15:07:59 +0000 */.clsWrapper{text-align:center}
.clsSectDetails{width:100%}
.spDetailLineCol1 table{table-layout:fixed}
#M_PageHead{border-top:0;width:100%}
#M_PageHeadTable{width:100%;background:#fff;text-align:center;margin:0 auto}
#HeaderDiv{text-align:left;width:100%;margin:0 auto}
#detailsDiv{text-align:center;font-family:'Roboto',Arial,Helvetica,sans-serif;padding:0 2em}
#M_Details{width:100%;text-align:left;margin:0 auto}
body{background-color:#8b8b8b;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:1em;line-height:1.5em}
#bodyDiv{width:100%}
.svwrapper{background-image:url(https://cescode.epsilon.com/sv_sur/us/SVsurvey_Header_800_nov16.jpg);background-repeat:no-repeat;background-position:top left;-moz-background-size:100%;-o-background-size:100%;-webkit-background-size:100%;background-size:100%;height:114px;width:800px;text-align:left;border-bottom:1px solid #8b8b8b;padding:0;margin:0;border-spacing:0}
.svlogo{width:240px;height:71px;top:11px;left:14px;padding:0;margin:0;position:relative}
nav{height:30px;padding:0;margin:0;background-color:#e03a27;position:relative;display:block}
nav ul{padding:0;margin:0 auto;width:600px;height:30px}
nav li{display:inline;float:left}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
nav a{color:#fff;display:inline-block;*display:inline;zoom:1;text-align:center;text-decoration:none;line-height:30px;text-shadow:1px 1px 0 #b12222}
.nav-home{width:148px;pointer-events:none;cursor:default;border-left:1px solid #8b8b8b;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.nav-home[disabled]{cursor:default}
.nav-rules{width:159px}
.nav-privacy{width:99px}
.nav-about{width:109px}
.nav-faq{width:79px}
.nav-home-fr{width:99px;border-left:1px solid #8b8b8b;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.nav-home-fr[disabled]{cursor:default}
.nav-rules-fr{width:119px}
.nav-privacy-fr{width:119px}
.nav-about-fr{width:188px}
.nav-faq-fr{width:69px}
nav li a{border-right:1px solid #8b8b8b;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
nav li:first-child a{background-color:#b12222;cursor:default}
nav a:hover,nav a:active{background-color:#b12222}
nav #pull{display:none}
#sContainer{width:800px;margin:0 auto;background:#fff;-moz-box-shadow:0 0 8px #333;-webkit-box-shadow:0 0 8px #333;box-shadow:0 0 8px #333}
.language-link{text-align:right;padding:0;line-height:.5em}
.language-link a{cursor:pointer;vertical-align:middle;color:#b12222}
.language-link img{width:15px;height:15px;padding-right:2px}
.language-link a:hover{color:#ee3224;text-decoration:underline}
.style-one{border:0;height:1px;background:#C3C3C3;padding:0 2em}
.vertical-space-large{display:block;height:75px}
.vertical-space-medium{display:block;height:50px}
.vertical-space-small{display:block;height:25px}
.vertical-space-xsmall{display:block;height:5px}
.heading-one{font-size:1.325em;line-height:1.5em;font-weight:700}
.font-darkgray{color:#666}
.font-darkred{color:#e03a27}
.font-bold{font-weight:700}
.font-normal{font-weight:400}
.heading-two{font-size:1.25em;line-height:1.5em;font-weight:700}
.legal{font-size:.875em;line-height:1.5em}
.force-bodyfont{font-size:1em}
.footnote{font-size:.875em;line-height:1.5em;font-style:italic}
.highlight-note{color:#e03a27}
.highlight-box{width:80%;margin:0 auto;border:1px solid #b12222;padding:5px 25px;border-radius:10px}
sup,sub{vertical-align:baseline;position:relative;top:-.4em}
sub{top:.4em}
#form_container{background:#f1f1f1;border:1px solid #C3C3C3;text-align:left;width:600px}
.form_description{border-bottom:1px solid #C3C3C3;clear:both;display:inline-block;margin:0 22px;padding:0}
.form_description[class]{display:block}
.form_description h2{clear:left;font-size:160%;font-weight:400;margin:0 0 3px}
.form_description p{font-size:95%;line-height:130%;margin:0 0 12px}
.appnitro{margin:25px 0 0;padding:0 0 20px}
.form-li{width:90%;display:block;margin:0;padding:5px 22px 10px;position:relative;height:1%}
.form-ul{font-size:100%;list-style-type:none;margin:0;padding:10px 0 0;width:470px}
.form-li:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.form-li{height:1%}
.form-lock{width:13px;height:16px;padding-left:5px}
label.description{border:none;color:#222;display:block;font-weight:700;padding-top:50px}
input.text{font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:1em;background:#fff;border-bottom:1px solid #ddd;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-top:1px solid #7c7c7c;margin:0;padding:2px 0}
select.select{margin:1px 0;padding:1px 0 0;background:#fff;border-bottom:1px solid #ddd;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-top:1px solid #7c7c7c}
select.select[class]{margin:0;padding:1px 0}
.safari select.select{font-size:120%!important;margin-bottom:1px}
input.medium{width:80%}
select.medium{width:95%}
textarea.medium{height:10em}
.legal a:link{color:#095abb;text-decoration:none}
.legal a:visited{color:#107AA4;text-decoration:none}
.legal a:hover{color:#fb3825;text-decoration:underline}
.legal a:active{color:#fb3825;text-decoration:underline;padding-top:2px}
.quenote{font-size:.875em;color:#333}
.forcedQ{color:#ee3824;font-weight:700}
.catname,.qLibCatHead{font-weight:700;font-size:1.25em;text-transform:uppercase;display:inline-block;padding-bottom:15px}
.subcatname{font-weight:700;text-transform:uppercase;display:inline-block;padding-top:10px;padding-bottom:10px}
.spButtonRow{margin:0 auto}
.navbuttonimg img{max-width:99%;padding:10px 0}
.navbuttonimg:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.stopngo img{max-width:99%;padding:10px 0}
.stopngo:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.home-button{margin:0 auto}
.home-button a{outline:0}
.home-button td{text-align:center}
.home-button:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.navbutton:focus{outline:0}
.navbuttonon:focus{outline:0}
.navbutton{border-top:1px solid #edf0f2;background:#f66;background:-webkit-gradient(linear,left top,left bottom,from(red),to(#f66));background:-webkit-linear-gradient(top,red,#f66);background:-moz-linear-gradient(top,red,#f66);background:-ms-linear-gradient(top,red,#f66);background:-o-linear-gradient(top,red,#f66);padding:10px 30px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;-moz-box-shadow:rgba(0,0,0,1) 0 1px 0;box-shadow:rgba(0,0,0,1) 0 1px 0;text-shadow:rgba(0,0,0,.4) 0 1px 0;color:#fff;font-size:1.25em;font-family:'Roboto',Arial,Helvetica,sans-serif;text-decoration:none;vertical-align:middle}
.navbutton:hover{border-top-color:#ff3232;background:#ff3232;color:#ccc}
.navbutton:active{border-top-color:#f66;background:#f66}
.navbuttonon{border-top:1px solid #edf0f2;background:#f66;background:-webkit-gradient(linear,left top,left bottom,from(red),to(#f66));background:-webkit-linear-gradient(top,red,#f66);background:-moz-linear-gradient(top,red,#f66);background:-ms-linear-gradient(top,red,#f66);background:-o-linear-gradient(top,red,#f66);padding:10px 30px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;-moz-box-shadow:rgba(0,0,0,1) 0 1px 0;box-shadow:rgba(0,0,0,1) 0 1px 0;text-shadow:rgba(0,0,0,.4) 0 1px 0;color:#fff;font-size:1.25em;font-family:'Roboto',Arial,Helvetica,sans-serif;text-decoration:none;vertical-align:middle}
.navbuttonimg img{max-width:99%}
.navbuttonimg:hover img{-ms-transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.navbuttonon:hover{border-top-color:#ff3232;background:#ff3232;color:#ccc}
.navbuttonon:active{border-top-color:#ff1919;background:#ff1919}
.clsProgOn{background-color:red;height:6px;width:2px}
.clsProgOff{background-color:#D3D3D3;height:6px;width:2px}
.clsProgTable{width:150px;height:6px;font-family:'Roboto',Arial,Helvetica,sans-serif;border-spacing:1px;border-collapse:separate;font-size:.8125em;background-color:#fff}
.clsProgText{font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:.625em}
.clsProgTextBold{font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:.625em;font-weight:700}
.errInline{width:80%;display:block;color:red;padding:0;display:none;background-color:transparent;-webkit-border-radius:21px;-moz-border-radius:21px;border-radius:21px}
.iradio_floatleft{float:left;margin-right:10px}
.spQRow{font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:1em;font-weight:700;padding-left:0;text-align:left}
.spARow{font-size:1em;padding-left:0;text-align:left;font-family:'Roboto',Arial,Helvetica,sans-serif}
.spHRow{font-weight:700;font-size:1em;padding-left:10px}
.qLColHeading{font-weight:700;font-size:1em;color:#666362;vertical-align:bottom;padding-left:5px;padding-right:5px;width:75px}
.qLMColHeading{font-weight:700;font-size:1em;color:#666362;vertical-align:bottom;padding-left:5px;padding-right:5px;width:75px}
.qLTColHeading{font-weight:700;font-size:1em;color:#666362;vertical-align:bottom;padding-left:5px;padding-right:5px;width:75px}
.qIMColHeading{font-weight:700;font-size:1em;color:#666362;vertical-align:bottom;padding-left:5px;padding-right:5px;width:75px}
.spACell{font-size:1em;padding:5px;text-align:left}
.dataentrytxt{width:55px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;font-family:'Roboto',Arial,Helvetica,sans-serif}
.spForm input{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:1.125em;font-family:'Roboto',Arial,Helvetica,sans-serif}
.clsFormInput,textarea,.clsAlloc,select{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;font-size:1em;font-family:'Roboto',Arial,Helvetica,sans-serif}
.spGroup{font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:1em;font-weight:700;padding-top:15px}
.qLTColEven{white-space:nowrap}
.qLTColOdd{white-space:nowrap}
.spFT{width:80%;height:100px}
.imCtlTable .clsFormInput{width:55px}
.qIMEven{white-space:nowrap}
.qIMOdd{white-space:nowrap}
.qLTHeadSpace{max-width:80px}
.sprRCell{vertical-align:middle}
.sprLCell{vertical-align:middle}
.spSliderFirstRow{width:85%}
.spSliderRow{width:85%}
.clsShortTxt{width:100px}
.clsLongTxt{width:300px}
#ltColQ3Col1{white-space:nowrap}
.ui-widget{font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:1.1em}
.ui-state-default,.ui-widget-content .ui-state-default{border-image-source:none;border-image-slice:100% 100% 100% 100%;border-image-width:1 1 1 1;border-image-outset:0 0 0 0;border-image-repeat:stretch stretch;background-color:#339;background-image:url();background-repeat:repeat-x;background-attachment:scroll;background-position:50% 50%;background-clip:border-box;background-origin:padding-box;background-size:auto auto;font-weight:700;color:#fff;outline-width:medium;outline-style:none;border-color:#ccc;border-style:solid;border-width:1px}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{border-image-source:none;border-image-slice:100% 100% 100% 100%;border-image-width:1 1 1 1;-image-outset:0 0 0 0;border-image-repeat:stretch stretch;background-color:#fdf5ce;background-image:url();background-repeat:repeat-x;background-attachment:scroll;background-position:50% 50%;background-clip:border-box;background-origin:padding-box;background-size:auto auto;font-weight:700;color:#c77405;outline-width:medium;outline-style:none;border-color:#fbcb09;border-style:solid;border-width:1px}
.ui-state-active,.ui-widget-content .ui-state-active{border-color:transparent;border-image-source:none;border-image-slice:100% 100% 100% 100%;border-image-width:1 1 1 1;border-image-outset:0 0 0 0;border-image-repeat:stretch stretch;background-color:orange;background-image:url();background-repeat:repeat-x;background-attachment:scroll;background-position:50% 50%;background-clip:border-box;background-origin:padding-box;background-size:auto auto;font-weight:700;color:#fff;outline-width:medium;outline-style:none;border-style:solid;border-width:2px}
.clsRadioTileLbl{height:40px;width:50px;padding:15px 5px;display:block;text-align:center;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;cursor:pointer;cursor:hand}
.iradio_floatleft{float:left;margin-right:10px}
#M_PageFoot{margin:0 auto;width:100%}
#M_PageFootTable{background-image:url(https://cescode.epsilon.com/sv_sur/cdn/SVsurvey_CA_Footer_Nov14.jpg);background-repeat:no-repeat;background-position:top left;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;background-size:100% 100%;width:100%;height:100px}
.footer-nav{line-height:normal;vertical-align:middle;display:inline-block;padding:0;margin:0}
.footer-nav img{border:none;outline:none}
.footer-nav ul{list-style:none;display:block;width:760px;margin:0;padding:15px 0 0 28px;vertical-align:middle}
.footer-nav li{padding:0 20px 0 0;vertical-align:middle;display:inline-block}
#M_PageFootTable a:link{color:#4b4b4b;text-decoration:none}
#M_PageFootTable a:visited{color:#4b4b4b;text-decoration:none}
#M_PageFootTable a:hover{color:#ee3224;text-decoration:none}
#M_PageFootTable a:active{color:#ee3224;text-decoration:none}
#FooterDiv{width:100%;position:relative;top:6px}
.sharewrapper{margin:auto 0;width:100%}
.sharewrapper td{text-align:center}
.share-buttons{list-style:none;display:block;margin:0 auto;padding:0}
.share-buttons li{display:inline-block}
.expire-en{float:left;width:47%;margin-right:5%}
.expire-fr{float:right;width:47%}
.expire-logo{margin:0 auto;width:218px;height:71px;padding:0}
.home-button-ex{margin:0}
.home-button-ex img{width:131px;height:37px}
.expire-en a{outline:0}
.expire-fr a{outline:0}
.home-button-ex td{text-align:left}
.home-button-ex:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.group:after{content:"";display:table;clear:both}
@media only screen and (min-width: 800px),only screen and (min-device-width:800px) and (orientation : landscape) {
#sContainer{width:800px!important;margin-left:auto;margin-right:auto;overflow:hidden}
nav{width:100%!important}
.svwrapper{height:114px!important}
.clsRadioTileLbl{height:30px;width:350px}
#M_PageFootTable{background-color:#dddfe2}
}
@media only screen and (max-width: 799px),only screen and (max-device-width:799px) {
#sContainer{width:100%;margin-left:auto;margin-right:auto;overflow:hidden}
.svoutwrapper{position:relative;padding-bottom:14.25%;overflow:hidden;height:0}
}
@media only screen and (max-width: 768px),only screen and (max-device-width:768px) {
#sContainer{width:100%;margin-left:auto;margin-right:auto;overflow:hidden}
.clsRadioTileLbl{height:30px;width:300px}
.footer-nav ul{list-style:none;display:block;width:100%;padding:0}
nav{height:30px;width:768px;padding:0;margin:0;background-color:#e03a27;position:relative;display:block}
.svoutwrapper{padding-bottom:14.2578125%}
.svwrapper{background-image:url(https://cescode.epsilon.com/sv_sur/us/SVsurvey_Header_768_nov16.jpg);height:110px;width:100%}
}
@media only screen and (max-width: 767px),only screen and (max-device-width:767px) {
.clsRadioTileLbl{height:30px;width:300px}
.footer-nav ul{list-style:none;display:block;width:100%;padding:0}
.svoutwrapper{position:relative;padding-bottom:14.256756756757%;overflow:hidden;height:0}
.svwrapper{background-image:url(https://cescode.epsilon.com/sv_sur/us/SVsurvey_Header_740_nov16.jpg)}
nav{max-height:30px;padding:0;margin:0;background-color:#e03a27;position:relative;display:block}
}
@media only screen and (max-width: 740px),only screen and (max-device-width:740px) {
nav{max-height:30px;width:100%!important;padding:0;margin:0;background-color:#e03a27;position:relative;display:block}
nav a{text-align:left;width:100%;text-indent:25px}
}
@media only screen and (max-width: 700px),only screen and (max-device-width:700px) {
.svoutwrapper{padding-bottom:14.285714285714%}
.svwrapper{background-image:url(https://cescode.epsilon.com/sv_sur/us/SVsurvey_Header_700_nov16.jpg);height:100px}
.svlogo{top:10px;left:10px}
.home-button-ex img{width:105px;height:30px}
#form_container{width:100%}
}
@media only screen and (max-width: 640px),only screen and (max-device-width:640px) {
.svoutwrapper{padding-bottom:14.21875%}
.svwrapper{background-image:url(https://cescode.epsilon.com/sv_sur/us/SVsurvey_Header_640_nov16.jpg);height:91px}
}
@media screen and (max-width: 600px),only screen and (max-device-width:600px) {
.clsRadioTileLbl{height:30px;width:300px}
.footer-nav ul{list-style:none;display:block;width:100%;padding:0}
#M_PageHeadTable{background-color:#dddfe2}
.svoutwrapper{background-color:#dddfe2}
.svwrapper{background-image:none;height:100%;border-bottom:0}
.svlogo{left:0;top:5px;bottom:2px;margin:0 auto;padding:0}
nav{height:30px;width:100%!important;padding:0;margin:0;background-color:#e03a27;position:relative;display:block}
nav ul{padding:0;margin:0 auto;width:600px;height:30px}
}
@media only screen and (max-width : 599px),only screen and (max-device-width:599px) {
.svlogo{width:178px;height:58px;top:4px;bottom:1px}
#detailsDiv{text-align:center;padding:0 1em}
.svoutwrapper{padding-bottom:16%}
nav{height:auto;width:100%;border-bottom:0}
nav ul{width:100%;display:block;height:auto;background-color:#ee3824}
nav li{width:50%;float:left;position:relative}
nav li a{border-bottom:1px solid #8b8b8b;border-right:1px solid #8b8b8b}
nav a{text-align:left;width:100%;text-indent:25px}
nav li:first-child a{display:none}
.nav-home,.nav-home-fr,.nav-rules,.nav-rules-fr,.nav-privacy,.nav-privacy-fr,.nav-about,.nav-about-fr,.nav-faq,.nav-faq-fr{text-align:left;width:100%;text-indent:25px}
.form-ul{width:100%}
nav{border-bottom:0}
nav ul{display:none;height:auto}
nav a#pull{display:block;background-color:#4b4b4b;width:100%;position:relative}
nav a#pull:after{content:"";background:url(https://cescode.epsilon.com/sv_sur/cdn/SVsurvey_CA_NavIcon_Nov14.png) no-repeat;width:30px;height:30px;display:inline-block;position:absolute;right:15px;top:5px}
.menu-title{text-shadow:none}
.navbuttonimg img{min-width:200px;padding:20px 0 40px}
.footer-nav ul{list-style:none;display:inline;width:100%;padding:0}
.footer-nav li{padding:10px;display:block;width:100%;float:none}
.footer-nav table{vertical-align:middle;display:inline-block}
.spButtonRow{margin:0 auto}
.expire-en,.expire-fr{float:none;width:auto;margin:0 auto}
.home-button-ex img{width:131px;height:37px}
}
@media only screen and (max-width : 500px),only screen and (max-device-width:500px) {
.svoutwrapper{padding-bottom:17%}
}
@media only screen and (max-width : 480px),only screen and (max-device-width:480px) {
.svoutwrapper{padding-bottom:21%}
#form_container{width:100%}
.navbuttonimg img{min-width:175px}
}
@media only screen and (max-width : 320px),only screen and (max-device-width:320px) {
#detailsDiv{padding:0 .75em}
nav{z-index:1}
nav li{display:block;float:none;width:100%}
nav li a{border-bottom:1px solid #576979}
.navbuttonimg img{max-width:150px}
}
::-webkit-input-placeholder{color:#777}
:-moz-placeholder{color:#777}
::-moz-placeholder{color:#777}
:-ms-input-placeholder{color:#777}